.wrapper {
    background-color: var(--primary);
    background-image: url('../../assets/images/background-pattern.png');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content {
    width: 600px;
    max-width: 50%;
    height: 600px;
    transform: translateX(-30%);
    position: relative;
    background-image: url('../../assets/images/login-deco.jpg');
    background-size: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 2rem 1.25rem rgb(0 0 0 / 25%);
}

.login-center {
    color: #fff;
    position: absolute;
    bottom: 5%;
    width: 50%;
    left: 4%;
}

.login-form {
    position: absolute;
    top: 50%;
    right: -60%;
    transform: translateY(-50%);
    background-color: #fff;
    min-height: 400px;
    width: 600px;
    max-width: 80%;
    border-radius: 5px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    box-shadow: 1px 1px 2rem 1.25rem rgb(0 0 0 / 25%);
}

.form-group-label {
    display: block;
    color: #ccc;
    font-weight: 500;
    font-size: 1.8rem;
}

.form-group-input {
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding: 6px 0px;
    width: 100%;
    &:focus {
        border-bottom: 2px solid var(--primary);
    }
}

.form-group-button {
    background-color: var(--primary);
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    box-shadow: 1px 1px 1rem 0.25rem rgb(0 0 0 / 25%);
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
