.cart-container {
    width: 80%;
    margin: 100px auto;
    padding-top: 100px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.cart-item {
    border-bottom: 1px solid rgba(128, 128, 128, 0.163);
}

.cart-item thead,
.cart-item tbody {
    text-align: center;
}

.cart-item table tr td {
    vertical-align: center;
}

.product-image {
    width: 150px;
    height: fit-content;
    border-radius: 50%;
    border: hidden;
}

.product-name {
    text-align: left;
}

.product-quantity {
    width: 100px;
}
.delete-icon {
    width: 10px;
}
.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    padding: 0;

}
.shipping-cart {
    padding: 0;
    padding-right: 15px;
}
.shipping-cart div {
    font-weight: 700;
    margin-bottom: 10px;
}

.shipping-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.total-details {
    margin: 0;
    border: 1px solid rgba(128, 128, 128, 0.418);
}

.cart-total-header {
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    font-weight: bold;
}

.items-subtotal,
.items-shipping,
.amount-payable {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    font-weight: 70;
    font-size: 15px;
}

.items-subtotal div,
.items-shipping div,
.amount-payable div {
    color: red;
}
