@import '../../../../components/GlobalStyle/grid.scss';


.rounded{
    border-radius: 50%;
}


.spec-img{
    width: 100%;
    padding: 12px;
    transition: all 400ms ease;

    &:hover{
        padding: 0;
        margin: 0;
    }
}


.l-btn{
    padding: 24px 40px;
    border-radius: 32px;
    font-weight: 700;
}


.orange-l-btn{
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    text-transform: uppercase;
    transition: all 400ms ease;

    &:hover{
        border: 1px solid var(--primary);
        background-color: var(--white);
        color: var(--primary);
        cursor: pointer;
    }
}
.container__content-order-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.container__content-order-list {
    justify-content: space-around;
}

.container__content-order-list-items {
    margin: 4px 0;
}

.container__content-order-list-items h3 {
    font-size: 2.4rem;
    margin: 12px 0;
}

.container__content-order-list-items p {
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: center;
}

.container__content-header {
    line-height: 1.2;
    text-align: center;
    padding: 12px 0;
}

.container__content-header h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary);
}

.container__content-header {
    font-size: 1.2rem;
    line-height: 1.2;
}

.container__content-header h2 {
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.container__content-speciality-list {
    display: flex;
    justify-content: space-between;
}

.container__content-speciality-list-items {
    justify-content: center;
    padding: 0;

    a {
        transition: all 400ms ease;
        text-transform: uppercase;
    }

    & a:hover {
        color: var(--primary);
    }
}

.container__content-speciality-list-items a {
    display: block;
    font-weight: 500;
    color: var(--black);
    width: 100%;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
    padding: 16px 0;
}
