//reset css
@import 'normalize.css';
@import './grid.scss';

// import family font
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap');

:root {
    --primary: #fd9d3e;
    --primary-bold: #bd5e00;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    --container-width: 1280px;
    --border-color: #aca7a7;
}

* {
    // box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

ul,p{
    margin: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    // cursor: none;
}

Link {
    color: var(--text-color);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a[href] {
    text-decoration: none;
}

.container {
    width: var(--container-width);
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
    background-color: transparent;
    overflow: hidden;
}

.btn {
    border: none;
    background-color: #eee;
    padding: 12px 8px;
    border-radius: 25px;
    min-width: 140px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s ease-out;
    &:hover {
        background-color: var(--text-color);
        color: #eee;
        cursor: pointer;
    }
}

.btn.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
    transition: 0.4s ease-out;
    &:hover {
        background-color: var(--white);
        color: var(--primary);
    }
}

.btn.btn-dark {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
}

.center-content {
    margin-bottom: 60px;
    text-align: center;
}

.center-sub-heading {
    color: var(--primary);
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

.center-heading {
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 1;
}

.center-heading.dark {
    color: var(--white);
}

.center-desc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-style: italic;
}

.navigation-icon {
    font-size: 5rem;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        opacity: 1;
    }
}
.navigation-icon.left {
    position: absolute;
    top: 50%;
    left: 1%;
}

.navigation-icon.right {
    position: absolute;
    top: 50%;
    right: 1%;
}

.full-width {
    width: 100%;
}
